
#show{
   display:flex;
}
.top{
   display:flex;
   height:30px;
   background:orange;
}
.top h1{
   font-size:10px;
   color:blue;
   margin-right:10px;
}
.top button{
   margin-left:10%;
}
.none{
   display:none;
   transform: translateX(-100%);
     transition: transform 0.8s;
}
.show{
   background:blue ;
   width:50vw;
   margin-top:0px;
   height:110vh;
   display:flex;
   flex-direction:column;
   padding:10px;
   transform: translateX(0);
}
#show{
   border:3px;
}
.show p{
   border-bottom:2px solid;
}
.showcontent{
   flex:1;
}
.showcontent p{
   height:55vh;
   flex-grow:0;
   flex-shrink:0;
   overflow-y:auto;
   padding-bottom:5px;
}
#blog{
   background:#fdf6e3;
}
#back{
   width:40px;
   height:40px;
   background:white;
   margin-left:80%;
   border-radius:35%;
   font-size:20px;
   background:orange;
}
