
#show{
   display:flex;
}
.top{
   display:flex;
   height:5vh;
   background:moccasin;
   position:fixed;
   top:0;
   width:100%;
  
}
.top h1{
   font-size:10px;
   color:blue;
   margin-right:10px;
}
.top button{
   margin-left:10%;
}
.none{
   display:none;
   transform: translateX(-100%);
     transition: transform 0.5s;
}
.show{

   background:moccasin;
   width:30vw;
   height:100vh;
   display:flex;
   flex-direction:column;
   padding:10%;
   transform: translateX(0);
}


#page{
   position:fixed;
   top:0;
    z-index:10;
}
#page h3{
   height:5vh;
   color:blue;
   margin-top:-10px;
}
.show p{
   border-bottom:1px solid;
   border-top:1px solid;
   border-left:1px solid;
   border-right:1px solid;
}
.showcontent{
   flex:1;
}
.showcontent h3 {
   margin-top:7vh;
   height:10vh;
   border-bottom: 1px solid;

}
#content{
   color:black;
   font-size:20px;
}
#next{
   color:red;
}
.showcontent h5{
   margin-top:0;
   height:0.5vh;
}

.showcontent p{
   height:cal(100vh-0.5vh-10vh-7vh-5vh);
   flex-grow:0;
   flex-shrink:0;
   overflow-y:auto;
   padding-bottom:5vh;
}
#blog{
   background:#fdf6e3;
   height:100vh;
}
#back{
   width:30px;
   height:5vh;
   background:white;
   margin-left:90%;
   border-radius:18%;
   font-size:20px;
   background:white;
}
