
#show{
   display:flex;
}
.top{
   display:flex;
   height:15vh;
   background:#fdf6e3;
   position:fixed;
   top:0;
   width:100%;
  padding:5px;
  
}
.top h1{
   font-size:20px;
   color:hotpink;
   margin-left:30px;
   margin-top:12px;
}
.top button{

   position:absolute;
   width:30px;
   top:40px;
   height:30px;
   left:140px;
   padding-top:0.5px;
   font-size:25px;
}
#back{
   position:absolute;
   width:30px;
   top:10px;
   height:30px;
   left:140px;
   padding-top:0.5px;
   font-size:25px;
}
#out{ 
position:absolute;
width:28px;
height:68px;
left:75%;
top:15%;
border-radius:15px;
font-size:10px
}

.none{
   display:none;
   transform: translateX(-100%);
     transition: transform 0.5s;
}
.show{
   border-right:2px solid;
   margin-top:30px;
   background:#fdf6e3;
   width:45vw;
   height:95vh;
   display:flex;
   flex-direction:column;
   padding:8px;
   transform: translateX(0);
   overflow-y:auto;
}


#page{
   position:fixed;
   top:0;
    z-index:10;
}
#page h3{
   fint-size:10px;
   height:3vh;
   color:hotpink;
   margin-top:12px;
}
.show p{
   margin-top:10px;
   margin-bottom:10px;
}
.showcontent{
   
   flex:1;
   margin-top:15vh;
   width:375px;
   background:#f5eecc;
}
.showcontent h3 {
   padding:8px;
   height:6vh;
   background:#f5eecc;
   margin-top:10px;
}

#next{
   color:red;
}
.showcontent h5{
   margin-top:0;
   height:0.5vh;
}


.showcontent p{
   height:100vh;
   flex-grow:0;
   flex-shrink:0;
   overflow-y:auto;
   padding-bottom:5vh;
   
    font-size:15px;
}
#blog{
   background:#f5eecc;
   height:auto;
   
}
#name{
   width:60px;
   height:30px;
   font-size:20px;
   border-radius:20px;
   margin-left:130px;
}
#send{
   width:80px;
   height:60px;  
   border:3px solid;
   position:relative;
   top:16vh;
   left:180px;
}

